<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'index')}">



<body>
  <h2>Search Form</h2>
  <form action="/search" method="post">
      Professor name:<br>
      <input type="text" name="professorName">
      <br><br>
      Division name:<br>
      <input type="text" name="divisionName">
      <br><br>
      Professor's Department name:<br>
      <input type="text" name="departmentName">
      <br><br>
      <input type="submit" value="Submit">
  </form>
  <br>
  <h4>Or click here to add, edit, or delete professors' information:</h4>
  <a href="/updateProfessor" class="button">Professor Page</a>
</body>
</html>
